<style>
body {
	direction: ltr;
}
</style>
<!-- Initialize Swiper -->

<div class="swiper-container swiper1" >

<div class="swiper-wrapper">
  <div class="swiper-slide"> 
    <!------------------------------------------------------------------------------------------->
    <div class="main main100">
     <sw-fancy>
     <div class="app_header">
          <a class="menu_icon" href="" ><img src="img/menu2.png" /></a>
            <h2>لیست املاک خرید و فروش</h2>
          <a class="back_icon" href="#/" ><img src="img/back1.png" /></a>
      </div>
      <div class="post_rent"> 
         
                <!------------------------------------------------------------------>
                <div class="post_one" ng-repeat="melk in rent1 | orderBy:'-date' | filter:filter | limitTo:70" post_one="true"  melk_id="{{melk.id}}">
                    <img src="img/sell-ico.png" >
                      <div class="detail">
                        <h3>{{melk.kind}}</h3>
                        <p class="des">{{melk.description}}</p>
                        <p class="small currency"><span>قیمت : {{melk.mortgage | currency : '' : 0  }} تومان</span></p>
                        <p class="small"><span>{{melk.dates}}</span><span>کد : {{melk.id}}</span><span ng-show="{{melk.status === '1'}}">فسخ شده</span></p>
                          
                      </div>
                      <!---- endd detail ----->
                      <div class="icon"><i class="fa fa-angle-left"></i></div>
                      <div class="clear"></div>
                </div>
                <!------------------------------------------------------------------> 
        
	   </div>
      <!---- end post_rent -----> 
       </sw-fancy>
    </div>
    <!---- end main -----> 
    <!-------------------------------------------------------------------------------------------------------> 
    
  </div>
  <!---- swpire slide 1 ------->
  <div class="swiper-slide swipe_menu">
  	<div class="main main100">
    <div class="img_logo"></div>
    <p>استان را انتخاب کنید</p>
    	<select ng-model="filter.state" ng-init="tab1=1"  class="city" name="city">
          <option  value="آذربایجان شرقی">آذربایجان شرقی</option>
          <option  value="آذربایجان غربی">آذربایجان غربی</option>
          <option value="اردبیل">اردبیل</option>
          <option value="اصفهان">اصفهان</option>
          <option value="البرز">البرز</option>
          <option value="ایلام">ایلام</option>
          <option value="بوشهر">بوشهر</option>
          <option value="تهران">تهران</option>
          <option value="چهار محال و بختیاری">چهار محال و بختیاری</option>
          <option value="خراسان جنوبی">خراسان جنوبی</option>
          <option value="خراسان رضوی">خراسان رضوی</option>
          <option value="خراسان شمالی">خراسان شمالی</option>
          <option value="خوزستان">خوزستان</option>
          <option value="زنجان">زنجان</option>
          <option value="سمنان">سمنان</option>
          <option value="سیستان و بلوچستان">سیستان و بلوچستان</option>
          <option ng-selected="{selected:tab1===1}" value="فارس" >فارس</option>
          <option value="قزوین">قزوین</option>
          <option value="قم">قم</option>
          <option value="کردستان">کردستان</option>
          <option value="کرمان">کرمان</option>
          <option value="کرمانشاه">کرمانشاه</option>
          <option value="کهگیلویه و بویراحمد">کهگیلویه و بویراحمد</option>
          <option value="گلستان">گلستان</option>
          <option value="گیلان">گیلان</option>
          <option value="لرستان">لرستان</option>
          <option value="مازندران">مازندران</option>
          <option value="مرکزی">مرکزی</option>
          <option value="هرمزگان">هرمزگان</option>
          <option value="همدان">همدان</option>
          <option value="یزد">یزد</option>
        </select>
        <p>نوع ملک</p>
    	<select ng-model="filter.kind"  class="city" name="kind">
         <option  value="">تمامی موارد</option>
          <option  value="آپارتمان">آپارتمان</option>
          <option value="مسکونی">مسکونی</option>
          <option value="تجاری کارگاهی">تجاری کارگاهی</option>
          <option value="کارخانه ای">کارخانه ای</option>
          <option value="زمین">زمین</option>
          <option value="سایر">سایر</option>
        </select>
        <p>محدوده قیمت</p>
    	  <select ng-model="category" ng-init="tab2=1" id="pri" class="city" name="mortgage">
          <option ng-selected="{selected:tab2===1}"  value="0">همه</option>
          <option   value="1">کمتر از 200 میلیون تومان</option>
          <option   value="2">200 تا 300 میلیون تومان</option>
          <option   value="3">300 تا 400 میلیون تومان</option>
          <option   value="4">400 تا 500 میلیون تومان</option>
          <option   value="5">500 تا 700 میلیون تومان</option>
          <option   value="6">700 میلیون تا 1 میلیارد تومان</option>
          <option   value="7">بیشتر از 1 میلیارد تومان</option>
        </select>
        
        </div>
    
    </div>
    <!---- main ----->
  </div>
</div>
<!-- Initialize Swiper --> 
